
<h3><%= @article.title %></h3>
<p><%= @article.content %></p>
<h3>Komentar</h3>
<% @comment.each do |comment| %>
	dari: <%= comment.username %>
	</br>
    <%= comment.content %>
    </br></br>
    <%end%>
    <%= link_to "Export to xls",  article_path(@article.id, format: 'xls')%> </br>
  <p><%= link_to 'back to index', articles_path %></p>
  
 